:root{
    --light-blue-color: rgba(128, 226, 255, 1);
    --light-yellow-color: rgba(255, 211, 106, 1);
    --dark-blue-color: rgba(24, 35, 39, 1);
    --white: rgba(255, 255, 255, 1);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLING */
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    width: 100vw;
    height: 100vh;
}


/* HEADER STYLING */
header{
    width: 100%;
    padding: 16px;
    background-color: var(--white);

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
}

.logo img{
    width: 40px;
}

.menu-list{
    display: flex;
    gap: 42px;
    font-family: 'Manrope', sans-serif;
}

.menu-list li a{
    font-size: 14px;
    color: var(--dark-blue-color);
}

.search-group{
    display: flex;
    align-items: center;
    gap: 22px;
}

.search-input{
    position: relative;
}

#search{
    width: 330px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #D8E0E2;
    padding-left: 42px;
    outline: none;
}

#search::placeholder{
    color: rgba(93, 105, 109, 1);
}

#search:focus{
    border-color: var(--dark-blue-color);
}

.search-icon{
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
}

#user-btn{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: var(--dark-blue-color);
    color: var(--white);
    font-size: 20px;
    cursor: pointer;
}

.sign-up{
    width: 107px;
    height: 45px;
    background-color: var(--dark-blue-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#sign-up-btn{
    display: block;
    color: var(--white);
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
}

.open-close-menu{
    display: none;
}